body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #17121a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:
        repeating-linear-gradient(
            to right,
            rgba(255,255,255,0.05) 0,
            rgba(255,255,255,0.05) 1px,
            transparent 1px,
            transparent 40px
        ),
        repeating-linear-gradient(
            to bottom,
            rgba(255,255,255,0.05) 0,
            rgba(255,255,255,0.05) 1px,
            transparent 1px, 
            transparent 40px
        );
    background-size: 40px 40px;
    font-family: sans-serif;
}

.heart {
    position: relative;
    width: 200px;
    height: 200px;
    background: rgb(194,7,60);
    transform: rotate(45deg);
    animation: beat 2s infinite;
    overflow: visible;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    background: rgb(194,7,60);
    border-radius: 60%;
}

.heart::before {
    top: -94px;
    left: 0;
}

.heart::after {
    top: 0;
    left: 96px;
}

.pulse {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
    background: rgba(194,7,60,1);
    opacity: 0;
    pointer-events: none;
    animation: ripple 1.4s infinite ease-out;
}

.pulse,
.pulse::before,
.pulse::after {
    background: rgba(194,7,60,1);
}

.pulse::before,
.pulse::after {
    content: "";
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 60%;
}

.pulse::before {
    top: -115px;
    left: 0;
}

.pulse::after {
    top: 0;
    left: 115px;
}

.pulse.delay {
    animation-delay: 0.6s;
}

@keyframes beat {
    0%, 100% {
        transform: rotate(-45deg) scale(1);
    }
    15%, 60% {
        transform: rotate(-45deg) scale(1.1);
    }
    40% {
        transform: rotate(-45deg) scale(1.2);
    }
}

@keyframes ripple {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.4;
    }
    50% {
        transform: translate(-50%, -50%) scale(1.3);
        opacity: 0.1;
    }
    100% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}
